<ion-header>
  <ion-toolbar>
    <!-- bouton de retour en arrière -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="liste"></ion-back-button>
    </ion-buttons>

    <ion-title>Historique {{user.userData.currentPage}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Pour information, dimanche1 correspond au dimanche précédent, dimanche2 au dimanche qui arrive
    </ion-card-content>
  </ion-card>

  <ion-searchbar animated (ionInput)="search($event)"></ion-searchbar>

  <div *ngFor="let modif of historique.historique" class="historique">
    <ion-card *ngIf="modif.show">
      <ion-card-header>
        <ion-card-title>
          {{modif.dateModif}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Show : {{modif.show}},
        Modification : {{modif.modification}},
        Nom : {{modif.nom}},
        Prénom : {{modif.prenom}},
        Chambre : {{modif.chambre}},
        Date d'inscription : {{modif.heure + ', ' + modif.jour}}
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card>
    <ion-card-content *ngIf="noSearch">
      Aucun élément ne correspond à votre recherche
    </ion-card-content>
  </ion-card>
</ion-content>
