<ion-header>
  <ion-toolbar>
    <ion-title>Qui es-tu ?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- slide refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label><b>Nom</b></ion-label>
        <ion-input [(ngModel)]="loginData.nom" type="text" autocomplete="family-name" required="true"
                   placeholder="Entrez votre nom"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Prénom</b></ion-label>
        <ion-input [(ngModel)]="loginData.prenom" type="text" autocomplete="name" required="true"
                   placeholder="Entrez votre prénom"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Résidence</b></ion-label>
        <ion-select [(ngModel)]="loginData.residence" required="true">
          <ion-select-option *ngFor="let residence of liste.residences" value="{{residence.residence}}">{{residence.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label><b>Chambre</b></ion-label>
        <ion-input [(ngModel)]="loginData.chambre" type="text" required="true"
                   placeholder="Entrez votre numéro de chambre (n'oubliez pas la lettre en fonction des résidences)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Es-tu un responsable de ta résidence ?</b></ion-label>
        <ion-select [(ngModel)]="loginData.isRp">
          <ion-select-option value="true">Oui</ion-select-option>
          <ion-select-option value="false">Non</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="loginData.isRp === 'true'">
        <ion-label><b>Mot de passe RP</b></ion-label>
        <ion-input #inputMdp [(ngModel)]="loginData.mdpRp" type="password" autocomplete="current-password" required="true" minlength="6" maxlength="22"
                   placeholder="Mot de passe"></ion-input>
        <ion-icon #iconMdp (click)="toggleMdp()" name="eye-off-outline"></ion-icon>
      </ion-item>

      <div class="ion-padding">
        <!-- on active le bouton que si tous les éléments nécessaires sont remplis -->
        <ion-button
          disabled="{{!(loginData.nom !== '' && loginData.prenom !== '' && loginData.residence !== '' && loginData.chambre !== '' && ((loginData.isRp === 'true' && loginData.mdpRp !== '') || loginData.isRp === 'false'))}}"
          type="submit" (click)="login()" expand="block" color="tertiary">
          OK
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Votre résidence n'apparait pas ?
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Demandez à votre responsable de résidence de la rajouter !
    </ion-card-content>
    <ion-card-content (click)="createRes()">
      Si vous êtes responsable de votre résidence, cliquez ici pour la rajouter
    </ion-card-content>
<!--    <ion-card-content (click)="supprRes()">-->
<!--      En cas d'erreur, vous pouvez cliquez ici pour supprimer la résidence-->
<!--    </ion-card-content>-->
  </ion-card>
</ion-content>
