ion-tab-bar.md {
  position: sticky;
  border-radius: 30px;
  width: 92%;
  margin: 20px auto;
}

.tabButton {
  --color-selected: var(--ion-color-medium-shade);
  --color-focused: var(--ion-color-medium);
}
