<ion-header>
  <ion-toolbar>
    <!-- bouton de retour en arrière -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="liste"></ion-back-button>
    </ion-buttons>

    <ion-title>Planning {{user.userData.currentPage}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!mobile">
    <ion-row *ngFor="let heure of heures">
      <ion-col *ngFor="let jour of jours">{{(heure === '') ? jour : ((jour === '') ? heure : '')}}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="mobile">
    <ion-row *ngFor="let creneau of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
      <ion-col>
        {{heures[creneau]}}
      </ion-col>
      <ion-col>
        {{(heures[creneau] === '') ? jours[currentDay] : (planning[currentDay] !== undefined) ? planning[currentDay][creneau]['chambre'] : ''}}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let creneau of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]">

    </ion-row>
  </ion-grid>

</ion-content>
