// css pour une case
ion-col {
  display: flex;
  border: solid 1px grey;
  border-radius: 3px;
  text-align: center;
  height: 7.3vmin;
  width: 12vmax;
  user-select: none;
}

// taille en haute sur mobile
.colMobile {
  height: 7vh;
}

// css des icons pour les grossir dans les boutons
ion-icon {
  zoom: 1.5;
}
