<ion-header>
  <ion-toolbar>
    <ion-title>liste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    Nom : {{user.userData.nom}}
  </ion-item>
  <ion-item>
    Prénom : {{user.userData.prenom}}
  </ion-item>
  <ion-item>
    Prénom : {{user.userData.residence}}
  </ion-item>
  <ion-item>
    Chambre : {{user.userData.chambre}}
  </ion-item>
  <ion-item>
    isRp : {{user.userData.isRp}}
  </ion-item>

  <ion-button expand="block" color="danger" (click)="user.logout()">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    Déconnexion
  </ion-button>
</ion-content>
