<ion-header>
  <ion-toolbar>
    <ion-title>liste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    Nom : {{user.userData.nom}}
  </ion-item>
  <ion-item>
    Prénom : {{user.userData.prenom}}
  </ion-item>
  <ion-item>
    Résidence : {{user.userData.residence}}
  </ion-item>
  <ion-item>
    Chambre : {{user.userData.chambre}}
  </ion-item>
  <ion-item>
    isRp : {{user.userData.isRp}}
  </ion-item>

  <ion-card *ngIf="residence !== undefined">
    <ion-card-header>
      <ion-card-title>{{residence.name + ' :'}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let planning of residence.liste">
            <ion-button expand="block" color="medium" routerLink="/planning"
                        (click)="user.addCurrentPage(planning)">{{planning}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="danger" (click)="user.logout()">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    Déconnexion
  </ion-button>
</ion-content>
