<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Règles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Règles des plannings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      3 heures de créneau par semaine maximum, toute personne s’inscrivant pour plus sans accord préalable pourra
      faire l’objet de sanctions
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Règles de la laverie (machines + sèches linges)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      3 heures de créneau par semaine maximum, toute personne s’inscrivant pour plus sans accord préalable pourra
      faire l’objet de sanctions
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Règles des plannings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      3 heures de créneau par semaine maximum, toute personne s’inscrivant pour plus sans accord préalable pourra
      faire l’objet de sanctions
    </ion-card-content>
  </ion-card>
</ion-content>
