<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Règles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Règles des plannings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      2 créneaux par semaine maximum, toute personne s’inscrivant pour plus sans accord préalable pourra
      faire l’objet de sanctions
    </ion-card-content>
    <ion-card-content>
      Les plannings sont remis à 0 automatiquement tous les dimanches
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Règles de la laverie (machines + sèches linges)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Respectez vos horaires,
      si en cas de soucis vous dépassez, merci de laisser un post-it ou autre pour expliquer le soucis
      (de manière à ce que la personne suivante soit informée du problème)
    </ion-card-content>
    <ion-card-content>
      Vous avez l’autorisation d’enlever la machine d’une personne qui empiète sur votre créneau
      (lancez un programme essorage rapide permettra de retirer la machine si la porte ne se déverrouille pas directement)
    </ion-card-content>
    <ion-card-content>
      Si la porte d’une machine reste bloquée, lancez un programme essorage rapide. Cela permettra de vider l’eau de la machine et de déverrouiller la porte
    </ion-card-content>
    <ion-card-content>
      Pour les sèches linges, videz les bacs d’eau présents en haut à gauche une fois terminé
    </ion-card-content>
    <ion-card-content>
      En cas de problème technique (fuite de la machine par exemple),
      vous pouvez appeler le service technique au
      <a href="tel:03.20.15.97.77" title="Appeler le service technique">03.20.15.97.77</a>
      ou écrire à
      <a href="mailto:servicetechnique@all-lacatho.fr" title="Envoyer un mail au service technique">servicetechnique@all-lacatho.fr</a>
      pour les tenir au courant et réparer le problème au plus vite
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Règles des aspirateurs</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Merci de reposer les aspirateurs à leur place après utilisation !
    </ion-card-content>
    <ion-card-content>
      Pour les aspirateurs sans sacs, merci de vider le bac
    </ion-card-content>
  </ion-card>

  <section></section>
</ion-content>
